/* Global Warm Parchment Protocol */
@define-color theme_bg_color #f5f0e8;
@define-color theme_fg_color #111111;
@define-color theme_base_color #f5f0e8;
@define-color theme_text_color #111111;
@define-color theme_selected_bg_color #111111;
@define-color theme_selected_fg_color #f5f0e8;

window, grid, stack, box {
    background-color: #f4ead5;
    color: #111111;
}
